:root {
    --gris: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%); 

    --principal: 'Big Shoulders Display', sans-serif;
    --secundaria: 'Lexend Deca', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* font-size: 62.5%; 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem; /* 1rem = 10px */
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenedor {
        height: 90vh;
    }
}

a {
    text-decoration: none;
}

/** card **/
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
}

@media (min-width: 768px) {
    .card{
        flex-direction: row;
    }
}

.card__container {  
    width: 35rem;
    padding: 5rem 4rem 6.5rem 3.5rem;
}

@media (min-width: 768px) {
    .card__container {
        width: 30rem;
    }
}

.card__container:nth-child(1) {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (min-width: 768px) {
    .card__container:nth-child(1) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
}

.card__container:nth-child(3) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 768px) {
    .card__container:nth-child(3) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.card__container--orange {
    background-color: var(--orange);
}

.card__container--cyan {
    background-color: var(--cyan);
}

.card__container--dark-cyan {
    background-color: var(--dark-cyan);
}

.card__imagen {
    width: 5rem;
}

.card__heading {
    text-transform: uppercase;
    color: var(--gray);
    font-size: 4rem;
    font-family: var(--principal);
}

.card__texto {
    line-height: 1.5;
    color: var(--gris);
    margin-bottom: 10rem;
    font-family: var(--secundaria);
}

.card__boton {
    background-color: var(--gray);
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    font-family: var(--secundaria);
}

.card__boton--orange {
    color: var(--orange);
}

.card__boton--cyan {
    color: var(--cyan);
}

.card__boton--dark-cyan {
    color: var(--dark-cyan);
}